.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    ". h h ."
    ". n mc .";

    grid-template-rows: 0fr 1fr;
    grid-template-columns: 1fr 2fr 10fr 1fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: mc;
    background-color: azure;
}