.logo {
    width: 10%;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    ". h h ."
    ". n c .";

    grid-template-rows: 0fr 1fr;
    grid-template-columns: 1fr 2fr 10fr 1fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: lightseagreen;
}

.nav {
    grid-area: n;
    background-color: aqua;
}

.ProfileBody {
    grid-area: c;
    background-color: azure;
}

.profile-banner {
    width: 100%;
}

.profile-avatar {
    width: 10%;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    border: thick solid white;
}

.profile-banner-box{
    height: 250px;
    position: relative;
}

.profile-name{
    margin: 10px 0 0 0;
}