.ProfileBody {
    grid-area: c;
    background-color: azure;
}

.profile-banner {
    width: 100%;
}

.profile-avatar {
    width: 10%;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    border: thick solid white;
}

.profile-banner-box {
    height: 250px;
    position: relative;
}

.profile-name {
    margin: 10px 0 10px 0;
}

.profile-h3 {
    margin: 0 0 10px 0;
}

.ProfileWritePost {
    margin-top: 10px;
}


.ProfilePost {
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    "pa pu"
    ". pt";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 15fr;
}

.post-username {
    grid-area: pu;
    height: auto;
}

.post-text {
    grid-area: pt;
}

.post-profile-avatar {
    width: 70%;
    grid-area: pa;
}

.MyPosts {
    margin-top: 10px;
}